.dDayPart {
  text-align: center;
}

.timerPart{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}

.day, 
.hour, 
.min, 
.sec {
  margin: 5px;
  
  
  text-align: center;
}

.number {
  display: inline-block;
  padding: 0 5px;

  font-family: arial;
  font-size: 30px;
  color: #ffffff;
  background-color: rgba(80, 77, 77);
  opacity: 1.0;
  width: 60px;
  border-radius: 5px;


}


.number_str {
  font-weight: bold;
  font-size: 20px;
  opacity: 0.8;
  color: white;

  font-family: "Avenir", Helvetica, Arial, sans-serif;
}