.dDayPart {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;

  text-align: center;
}

.timerPart{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;

  text-align: center;

}

.day, 
.hour, 
.min, 
.sec {
  margin: 5px; 
}

.number {
  display: inline-block;
  text-align: center;
}

