/* //@T Need to Implement more efficient animations! */

.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter-active {
  transition: opacity 0.9s;
}
.fade-enter, .fade-leave-to {
  opacity: 0.9;
}
/*  */

.fade-short-leave-active {
  transition: opacity 0.1s;
}
.fade-short-enter-active {
  transition: opacity 0.4s;
}
.fade-short-enter, .fade-short-leave-to {
  opacity: 0.9;
}
/*  */

.fade-long-leave-active {
  transition: opacity 0.1s;
}
.fade-long-enter-active {
  transition: opacity 1.4s;
}
.fade-long-enter, .fade-long-leave-to {
  opacity: 0.9;
}
/*  */

.fade-strong-leave-active {
  transition: opacity 0.1s;
}
.fade-strong-enter-active {
  transition: opacity 0.9s;
}
.fade-strong-enter, .fade-strong-leave-to {
  opacity: 0.4;
}
/*  */

.fade-short-strong-leave-active {
  transition: opacity 0.1s;
}
.fade-short-strong-enter-active {
  transition: opacity 0.4s;
}
.fade-short-strong-enter, .fade-long-strong-leave-to {
  opacity: 0.4;
}
/*  */

.fade-long-strong-leave-active {
  transition: opacity 0.1s;
}
.fade-long-strong-enter-active {
  transition: opacity 1.4s;
}
.fade-long-strong-enter, .fade-long-strong-leave-to {
  opacity: 0.4;
}
/* .slide-leave-active, */

.slide-enter-active {
  transition: 0.6s;
}
.slide-enter {
  transform: translate(10%, 0);
}
/* .slide-leave-to { */

/* transform: translate(-100%, 0); */

/* } */

/* .slide-fade-leave-active { */

/* transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1); */

/* } */

.slide-fade-enter-active {
  transition: all 0.8s;
}
/* .slide-fade-leave-to, */

.slide-fade-enter {
  transform: translateX(10%);
  opacity: 0.7;
}
/*--------------------------------------------------------*/

.dDayWidget {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.dDayPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.timerPart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.day, .hour, .min, .sec {
  margin: 5px;
}

.number {
  display: inline-block;
  text-align: center;
}