.baseToggleBox {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  padding: 10px;
}

.folder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.folder_image {
  width: 33px;
  height: 33px;
}

.folder_title {
  font-size: 30px;
  font-weight: bold;
}