.baseBox {
  border-style: groove;
  border-width: 4px;
}

.folder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.folder-image {
  width: 33px;
  height: 33px;
}

.folder-title {
  font-size: 30px;
  font-weight: bold;
}

.examController {
  position: relative;
  left: 10px;
}