/* .baseBox {
  width: 100%;
  border-style: groove;
  border-width: 4px;
  padding: 10px;
}

.folder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.folder_image {
  width: 33px;
  height: 33px;
}

.folder_title {
  font-size: 30px;
  font-weight: bold;
} */