.base-page-btns .page-btn {
  position: fixed;
  z-index: 1;
  height: 50px;
  width: 44vw;
  bottom: 0;
  text-align: center;
  font-size: 30px;
  padding: 0
}

.base-page-btns .prev-btn {
  left: 6vw;
}

.base-page-btns .prev-btn--activated {
  color: rgba(0, 0, 0, 1)
}

.base-page-btns .prev-btn--deactivated {
  color: rgba(0, 0, 0, 0.3)
}

.base-page-btns .next-btn {
  right: 6vw;
}

.base-page-btns .next-btn--activated {
  color: rgba(0, 0, 0, 1)
}

.base-page-btns .next-btn--deactivated {
  color: rgba(0, 0, 0, 0.3)
}