.baseToggleBox {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  padding: 10px;
}

.folder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.folder .folded {
  transform: rotate(0deg);
}

.folder-image {
  width: 33px;
  height: 33px;
  transform: rotate(-90deg);
}

.folder-title {
  font-size: 30px;
  font-weight: bold;
}

.exam-controller {
  display: grid;
  justify-items: center;
  align-items: center;
}

/* //@T Continue to FIX! */
/* This is not good! Change it! */
.remove-exam-btn {
  position: relative;
  bottom: 40px;
}
