@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);

@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);@import url(https://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(https://fonts.googleapis.com/css?family=Nanum+Myeongjo);

@import url(https://fonts.googleapis.com/earlyaccess/kopubbatang.css);

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

#app {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  /* justify-items: center; */
  /* align-items: center; */
  font-family: "Jeju Gothic";
  font-weight: 400;
  color: #2c3e50;
  /* Chrome, Safari, Opera */
  /* -webkit-text-size-adjust: 100%; */
  /* -webkit-font-smoothing: antialiased; */
  /* Firefox */
  /* -moz-osx-font-smoothing: grayscale; */
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.input {
  text-align: center;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 15px;
  margin-top: 0px;
}

button, label, input, optgroup, select, textarea {
  font-family: "Jeju Gothic";
  text-transform: none;
  font-size: 100%;
}

/* button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
} */