.navBar {
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  position: fixed;
  top: 0px;
  width: 100%;
}

.navBar>.title {
  color: white;
  text-align: center;
  line-height: 1px;
  font-size: 40px;
}

.navBar>.links {
  border-top-style: solid;
  border-top-color: rgb(221, 221, 221);
  border-top-width: 1px;
  line-height: 0px;
  text-align: center;
}

.navBar>.links>a {
  display: inline-block;
  color: rgb(242,242,242);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navBar>.links>a:hover {
  background: rgb(124,124,124);
}

.navBar>.links>.activated {
  background: rgb(221,221,221);
  color: black;
}