.nav-bar {
  display:grid;
  text-align: center;
  align-items: center;
  grid-template-rows: 50px 30px 20px; 
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.nav-bar__title {
  color: white;
  font-size: 40px;
  margin: 0;
}
.nav-bar__title-ver {
  color: white;
  font-size: 25px;
  margin: 0;
}

.nav-bar__links {
  border-top-style: solid;
  border-top-color: rgb(221, 221, 221);
  border-top-width: 1px;
  line-height: 0px;
}

.nav-bar__links>a {
  display: inline-block;
  color: rgb(242, 242, 242);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav-bar__links>a:hover {
  background: rgb(124, 124, 124);
}

.nav-bar__links>.activated {
  background: rgb(221, 221, 221);
  color: black;
}