.widget {
  position: fixed;
  bottom: 5%;
  right: 5%;
  opacity: 1.0;
  text-align: center;
  border-style: dotted;
  border-width: 1px;
  border-color: black;
}

.widget .title {
  font-size: 30px;
}